body{

}

.row:after {
    content: "";
    display: table;
    clear: both;
    border: aliceblue;
    border-left-style: dotted;

    /* float:right; */
  }

  h1{
    text-align: center;
    color: aquamarine;
  }
input{
    margin: 10px;
    background-color: lightblue;

    font-size: 16px;
    width: 300px;


}

#submitButton{
    margin: 10px;
    background-color:blue;
    color: white;
    font-size: 16px;
    width: 150px;

}
button{
    margin: 10px;
    background-color:rgb(255, 0, 140);
    color: white;
    font-size: 16px;
    width: 250px;

}
#resetButton{
    margin: 10px;
    background-color:green;
    color: white;
    font-size: 16px;
    width: 100px;

}


